// Others
$white: #ffffff;
$gray: #b9c4c2;
$neutralGray: #b1b1b1;
$red: #ff6762;
$blue: #2575ff;
$neuralGrayBackground: #f2f6fc;
$backgroundMain: #f6f9fe;

// Buttons primary
$primaryGreen: #23b7a7;
$lightGreen: #29d0be;

// Buttons secondary
$primaryDark: #222222;
$secondaryDark: #393939;
$dark: #161616;
