.title {
  font-size: rem(24px);
  margin-bottom: rem(16px);
  line-height: 120%;
}

.body {
  display: inline-block;
  font-size: rem(20px);
  line-height: 120%;
  max-width: 1200px;
  width: 100%;
  white-space: break-spaces;
}

.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(20px);
  padding: rem(18px);
  border: 1px solid $neutralGray;
  border-radius: 12px;

  @media (max-width: $breakpoint-tablet) {
    flex-direction: column;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.functional {
  display: flex;
  flex-direction: column;
}

.button {
  border: none;
  font-size: rem(14px);
  padding: rem(10px);
  width: 120px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.buttonDelete {
  margin-bottom: rem(10px);
}
